:root {
    --mainBGColor: #4E729A;
    --headerColor: white;
    --mainColor: #45688E;
    --additionalColor: black;
    --additionalBGColor: #45688E;
    --borderColor: #DAE1E8;
    --additionalSecondColor: #999;
}